 
.dashboard-container {
  padding: 20px;
}

.dashboard-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.user-list, .user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 80%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.view-btn, .back-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.view-btn:hover, .back-btn:hover {
  background-color: #45a049;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap; /* Allows wrapping of images */
}

.image-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 20vw;  
  height: 100%;  
  display: flex;  
  align-items: center; 
  justify-content: center;  
}

.uploaded-image {
  object-fit: cover;  
  width: 100%;  
  height: 100%;  
  transition: transform 0.3s ease;
}

.uploaded-image:hover {
  transform: scale(1.05);  
}
.back-btn {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.back-btn:hover {
  background-color: #1976D2;
}
